<launch>
   <node pkg="ukf_estimate" name="depth_estimate_bb" type="depth_estimate_bb" output="screen" >

     <param name="topic_box" value="/YOLO/box" />

	 <param name="KPx_ibvs" value="0.0009" />
     <param name="KPy_ibvs" value="0.0009" />
     <param name="KPz_ibvs" value="0.0004" />
	 <param name="KProll_ibvs" value="1.2" />
	 <param name="Tix_ibvs" value="10000" />
     <param name="Tiy_ibvs" value="10000" />
	 <param name="Tiz_ibvs" value="10000" />
     <param name="Tiroll_ibvs" value="5" />
     <param name="Tdx_ibvs" value="0" />
     <param name="Tdy_ibvs" value="0" />
	 <param name="Tdz_ibvs" value="0" />
     <param name="Tdroll_ibvs" value="0.8" />

     <param name="P_init_0" value="1" />
     <param name="P_init_1" value="1" />
     <param name="P_init_2" value="1" />
	 <param name="P_init_3" value="3" />

	 <param name="measurement_noise_0" value="10" />
     <param name="measurement_noise_1" value="10" />
     <param name="measurement_noise_2" value="500" />
	 <param name="measurement_noise_3" value="0.0001" />
     <param name="measurement_noise_4" value="0.0001" />
     <param name="measurement_noise_5" value="0.0001" />

	 <param name="process_noise_0" value="0.0005" />
     <param name="process_noise_1" value="0.0005" />
     <param name="process_noise_2" value="0.0008" />
	 <param name="process_noise_3" value="1" />
   </node>

</launch>
